*{
    font-size: 15px;
}

h1{
    background-color: #000056;
    text-align: center;
    color: white;
    font-size: 40px;
}

.logo {
    width: 3.5%; /* ajuste conforme necessário */
    margin-right: 70px; /* ajuste conforme necessário */
}

.brClubeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 45%;
    /* Ajuste a largura do formulário conforme necessário */
    float: left;
    padding-left: 5px;
}

input {
    margin-bottom: 7px;
}

.texto-container {
    width: 48%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    display: flex;
    /* Torna o contêiner de texto um contêiner flexível */
}

label {
    display: block;
    width: 250px; /* Ajuste de acordo com suas necessidades */
}

#brClubeContainer{
    margin-left: 25px;
}

#texto{
    margin-right: 10px;
}

#buttonEquipamento{
    background-color: rgb(255, 206, 70);
}

#buttonEquipamento:hover{
    background-color: rgb(255, 187, 0);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0ad114;
}