body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
text-align: center;
color: rgb(0, 0, 0);
font-size: 30px;  
}

h2:hover {
    color:#000096;
    font-size: 29px;
    background-color: #ececec;
}