* {
    padding: 0;
    margin: 0;
}

h1 {
    background-color: blue;
    font-size: 60px;
    text-align: center;
    color: white;
}

h2 {
text-align: center;
color: rgb(0, 0, 0);    
}

h2:hover {
    color: #0011ff;
    font-size: 25px;
}


