body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h2 {
    text-align: left;
    padding-left: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px; 
}

h2:hover {
    color:#00b7ff;
    font-size: 29.8px;
    background-color: #f2f2f2;
}