* {
    padding: 0;
    margin: 0;
}

header {
    background-color:#142049;
    font-size: 100PX;
    color: white;
    text-align: center;
}

#img-acionamento {
    width: 20%;
    border-radius: 25px;
    margin-left: 50px;
}