body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000056;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 60px; /* ajuste conforme necessário */
    margin-right: 70px; /* ajuste conforme necessário */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

li a:hover {
    color: rgb(142, 255, 255);
    
}

li {
    border-right: 1px solid #00c3ff;
  }

li:last-child {
    border-right: none;
  }
