*{
    font-size: 15px;
}

header {
    background-color: #000056;
    text-align: center;
}

h1 {
    background-color: #000056;
    font-size: 50px;
    color: white;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea{
    margin-bottom: 20px;
    width: 100%;
    background-color: #f2f9ff;
}

.brClubeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 45%;
    /* Ajuste a largura do formulário conforme necessário */
    float: left;
    padding-left: 35px;
}

.texto-container {
    width: 48%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    display: flex;
    /* Torna o contêiner de texto um contêiner flexível */
}

#genero {
    display: flex;
    align-items: center;
}

#genero label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    /* Ajuste a margem superior conforme necessário */
}

#genero2 {
    display: flex;
    align-items: center;
}

#genero2 label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    /* Ajuste a margem superior conforme necessário */
}


#chaveLocalContainer {
    display: flex;
    align-items: center;
}


#chaveLocalContainer label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    /* Ajuste a margem superior conforme necessário */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

b {
    font-weight: normal;
}